.Content {
  flex-grow: 5;
  background-color:white;
  min-width: 280px;
  display: flex;
  flex-flow: column nowrap;
}

.Content_Educations, .Content_Experiences, .Content_Skills {
  flex-grow: 1;
  background-color:green;
  margin: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.Content_SectionTitleWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 8px;
}

.Content_Icon {
  width: 36px;
  height: 36px;
}

.Content_Title {
  color: black;
  margin-left: 16px;
}