.Sidebar {
  flex-grow: 1;
  min-width: 280px;
  min-height: 500px;
  display: flex;
  flex-flow: column nowrap;
}

.Sidebar_Header {
  background-color: white;
  padding: 20px 0;
}

.Sidebar_Name {
  margin-top: 20px;
  font-size: 22px;
}

.Sidebar_Title {
  margin-top: 8px;
}

.Sidebar_Contact {
  flex-grow: 1;
  background-color: white;
  padding: 30px;
}

.Sidebar_ContactItemWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 8px 0 8px;
}

.Sidebar_ContactItem {
  margin-left: 8px;
  text-align: left;
}