.Experience {
  margin: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 8px;
}

.Experience_TitleWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 8px;
}

.Experience_Icon {
  width: 36px;
  height: 36px;
}

.Experience_Title {
  color: black;
  margin-left: 16px;
  font-size: 18pt;
}

.Experience_Company {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
}

.Experience_CompanyHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Experience_CompanyNameTitleWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.Experience_CompanyJobTitle {
  font-weight: bold;
  font-size: 18px;
}

.Experience_ProjectContainer {
  margin: 8px 0 0 32px;
}

.Experience_Project {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 16px;
}

.Experience_ProjectHeader {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

}

.Experience_ProjectComment {
  text-align: left;
}