.Experience {
  margin: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 8px;
}

.Experience_TitleWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 8px;
}

.Experience_Icon {
  width: 36px;
  height: 36px;
}

.Experience_Title {
  color: black;
  margin-left: 16px;
  font-size: 18pt;
}

.Experience_Company {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100%;
}

.Experience_CompanyHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.Experience_CompanyNameTitleWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.Experience_CompanyName {
  text-align: left;
}

.Experience_CompanyJobTitle {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.Experience_CompanyDate {
  text-align: left;
  white-space: nowrap;
}

.Experience_ProjectContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding: 8px 8px 0 32px;
}

.Experience_Project {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin-bottom: 16px;
}

.Experience_ProjectHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.Experience_ProjectDate {
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
}

.Experience_ProjectComments {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding-left: 16px;
}

.Experience_Comment {
  text-align: left;
}

.Experience_Links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
}

.Experience_Links > a{
  margin-right: 16px;
}

.Experience_AppStore {
  width: 120px;
  height: 40px;
}