.App {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 100vh;
  max-width: 980px;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.App_Content {
  flex-grow: 2;
  background-color:white;
  min-width: 280px;
  max-width: 640px;
  min-height: 500px;
  display: flex;
  flex-flow: column nowrap;
}