.Interest {
  margin: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 8px;
}

.Interest_TitleWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 8px;
}

.Interest_Icon {
  width: 36px;
  height: 36px;
}

.Interest_Title {
  color: black;
  margin-left: 16px;
  font-size: 18pt;
}

.Interest_Map {
  width: 100%;
}

.Interest_Map img {
  max-width:  100%;
  max-height: 100%;
}

.Interest_About {
  text-align: left;
  padding: 8px;
}